<div class="global-area ptb-70">
  <div class="container">
      <div class="section-title">
          <h2>Descubre la App de Banorte: Soluciones Financieras al Alcance de tu Mano</h2>
          <div class="bar"></div>
      </div>

      <div class="row align-items-center">
          <!-- Información sobre la App -->
          <div class="col-lg-6 col-md-12">
              <div class="info-content">
                  <h3>Gestión Financiera Simplificada</h3>
                  <p>Con nuestra app, administra tus cuentas, realiza pagos y transferencias de manera segura y rápida, todo desde la comodidad de tu dispositivo móvil.</p>

                  <h3>Experiencia de Usuario Inigualable</h3>
                  <p>Nuestra interfaz intuitiva está diseñada pensando en ti, para que puedas acceder a todas las funciones que necesitas sin complicaciones.</p>

                  <h3>Acceso Global</h3>
                  <p>Controla tus cuentas desde cualquier parte del mundo y realiza transacciones en diferentes monedas con solo unos clics.</p>

                  <h3>Seguridad Avanzada</h3>
                  <p>Contamos con la tecnología más avanzada en seguridad bancaria para que realices tus transacciones con total tranquilidad y protección.</p>
              </div>
          </div>

          <!-- Video de la App de Banorte en loop -->
          <div class="col-lg-6 col-md-12">
              <div class="video-container text-center">
                  <video autoplay muted loop style="max-width: 100%; height: auto;">
                      <source src="images/banorteVideo.mp4" type="video/mp4">
                      Tu navegador no soporta el elemento de video.
                  </video>
              </div>
          </div>
      </div>
  </div>
</div>
